@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    @apply bg-gray-900 text-gray-100 font-sans antialiased;
  }
}
